includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    excludePaths:
            - 'src/Helpers/BaseModalComponent.php'
            - 'src/Helpers/Logo.php'
            - 'src/Helpers/SpatieMediaHelper.php'
            - 'src/Traits/AlertHelper.php'
            - 'src/Traits/FromEmail.php'
            - 'src/Traits/TableHelper.php'


